<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1><a href="/create">Create</a></h1>
</div>
<h2>Properties: </h2>
<ul>
  <li *ngFor="let prop of properties">
    <h2>
      <a [href]="'/properties/' + prop._id">{{ prop.name }}</a>
    </h2>
  </li>
</ul>